* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

/* Syntax highlighting for code blocks */
.keyword {
  color: #c678dd;
}
.string {
  color: #98c379;
}
.comment {
  color: #5c6370;
  font-style: italic;
}
.function {
  color: #61afef;
}
.number {
  color: #d19a66;
}
.operator {
  color: #56b6c2;
}
